* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 45px;
}
li {
    padding-bottom: .5em;
}
p {
    padding-bottom: .5em;
}
#accordion {
    text-align: center;
    margin-top: 0 auto;
    border:2px solid black;
    padding: 50px;
    width: 200px;
    height: 200px;
    background-color: #AF504C;
    margin-right: auto;
    margin-left: auto;
    transition: 0.4s;

}
